{% extends 'main/base_layout.html' %}
{% load static %}

{% block title %}Create New Book{% endblock %}

{% block main-content %}

<div class="container mx-auto px-4">
    <form class="max-w-md mx-auto bg-white p-8 rounded shadow-md" id="form-edit" method="POST" action="{% url 'BookStore:book-store' %}">
        <div class="text-2xl font-semibold mb-6">Add New Book</div>
        {% csrf_token %} {% for field in form %}
        <div class="mb-4">
            {% if field.errors %}
            <div class="text-red-500 text-sm mb-2">
                {% for error in field.errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}
            <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
            <div class="w-full bg-white border border-gray-300 rounded-md py-2 px-3">
                {{ field }}

            </div>


        </div>
        {% endfor %}
        <button type="submit" class="w-full bg-indigo-500 text-white py-2 px-4 rounded hover:bg-indigo-600 transition duration-300">Save</button>
    </form>
</div>

{% endblock %}
