<!DOCTYPE html>
<html>
<head>
    <title>Confirm Delete</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-color: rgb(129, 70, 126);">
    <div class="container">
        <h1 class="mt-5">Confirm Delete</h1>
        <p>Are you sure you want to delete "{{ book.title }}"?</p>
        <form action="{% url 'book_delete' book.pk %}" method="post" class="d-inline">
            {% csrf_token %}
            <input type="submit" value="Confirm" class="btn btn-danger">
        </form>
    </div>
</body>
</html>
